<!--city.vtl-->
#if ($city)
  <h1>$city.getName() Jobs:</h1>
  #if ($city.jobs)
    <ul>
      #foreach($job in $city.getJobs())
       <li>$job.getDescription()</li>
      #end
    </ul>
  #else
    <em><p>Looks like you have no jobs listed for this City</p></em>
#else
  <em><p>Oops! We can't seem to find that Category.</p></em>
#end

<a href="/cities/$city.getId()/jobs/new">Add a new job</a>
<a href="/cities">All categories</a>
<!--city.vtl-->
