<!--city.vtl-->
#if ($city)
  <h1>$city.getName() Jobs:</h1>
  <ul>
    #foreach($job in $city.getJobs())
     <li>$job.getName()</li>
    #end
  </ul>
#else
  <em><p>Oops! We can't seem to find that Category.</p></em>
#end

<a href="/cities/$city.getId()/jobs/new">Add a new job</a><br>
<a href="/cities">All categories</a>
<!--city.vtl-->
