<!--job-form.vtl-->
<h1>Add a city</h1>

<p>Add a job-form here:</p>

<form action="/cities/$city.getId()" method="post">
  <input id="cityId" name="cityId" type="hidden" value="$city.getId()">
  <label for="name">Job name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Job</button>
</form>
<!--job-form.vtl-->
